@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Berkeley Mono", "JetBrains Mono", ui-monospace, monospace;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.keycap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5em;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  border-radius: 4px;
  background: #404040;
  color: #e5e5e5;
  box-shadow: 0 3px 0 #262626;
}

.keycap.keycap--arrow {
  width: 1.75em;
  min-width: 1.75em;
  height: 1.75em;
  padding: 0;
}

.keycap-arrow-svg {
  width: 0.7em;
  height: 0.7em;
  display: block;
}
