@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Berkeley Mono", "JetBrains Mono", ui-monospace, monospace;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
