@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Berkeley Mono", "JetBrains Mono", ui-monospace, monospace;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.keycap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5em;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  border-radius: 4px;
  background: #404040;
  color: #e5e5e5;
  box-shadow: 0 3px 0 #262626;
}

.keycap.keycap--arrow {
  width: 1.75em;
  min-width: 1.75em;
  height: 1.75em;
  padding: 0;
}

.keycap-arrow-svg {
  width: 0.7em;
  height: 0.7em;
  display: block;
}

/* Tiptap Editor Styles */
.tiptap-editor .tiptap {
  outline: none;
  min-height: 50vh;
}

.tiptap-editor .tiptap p.is-editor-empty:first-child::before {
  color: #737373;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap-editor .tiptap h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.tiptap-editor .tiptap h1:first-child {
  margin-top: 0;
}

.tiptap-editor .tiptap h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 0.4em;
}

.tiptap-editor .tiptap h2:first-child {
  margin-top: 0;
}

.tiptap-editor .tiptap h3 {
  font-size: 1.15em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.tiptap-editor .tiptap h3:first-child {
  margin-top: 0;
}

.tiptap-editor .tiptap p {
  margin-bottom: 1em;
}

.tiptap-editor .tiptap p:last-child {
  margin-bottom: 0;
}

.tiptap-editor .tiptap ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.tiptap-editor .tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.tiptap-editor .tiptap li {
  margin-bottom: 0.25em;
}

.tiptap-editor .tiptap li p {
  margin-bottom: 0;
}

.tiptap-editor .tiptap strong {
  font-weight: bold;
}

.tiptap-editor .tiptap em {
  font-style: italic;
}

.tiptap-editor .tiptap blockquote {
  border-left: 4px solid #737373;
  padding-left: 1em;
  font-style: italic;
  margin: 1em 0;
}

.tiptap-editor .tiptap code {
  background-color: #262626;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: "Berkeley Mono", "JetBrains Mono", ui-monospace, monospace;
}

.tiptap-editor .tiptap pre {
  background-color: #262626;
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
  margin: 1em 0;
}

.tiptap-editor .tiptap pre code {
  background: none;
  padding: 0;
  font-size: 0.85em;
}

.tiptap-editor .tiptap hr {
  border: none;
  border-top: 1px solid #525252;
  margin: 1.5em 0;
}
